section {
    min-height: 100vh;
}

.left-panel {
    width: 50%;
    height: 100vh;
    float: left;
    background: linear-gradient(150deg, rgb(41, 28, 21), rgb(75, 46, 28));
    padding: 2.5%;
    color: #fff;
}

.right-panel {
    height: 100vh;
    overflow: hidden;
    background: rgb(141, 96, 68);
}

.left-panel .container {
    position: relative;
    top: 50%;
    transform: translateY(-30%);
}

img {
    height: 100%;
}

h1 {
    font-family: Calibri;
    font-size: 4.5rem;
    margin-bottom: 0;
}

p {
    font-family: Calibri;
    color: #ddd;
    font-size: 1.3rem;
    margin-bottom: 2.4rem;
}




a {
    text-decoration: none;
    color: inherit;
}

.button {
    background: dodgerblue;
    font-family: sans-serif;
    font-size: 1.2rem;
    padding: 8px 16px;
    border: 2px solid dodgerblue;
    border-radius: 5px;
    margin: 8px;
    transition: .3s;
}

.button.empty {
    background: #fff;
    color: dodgerblue;
}

.button:hover {
    background: #fff;
    color: dodgerblue;
}

.button.empty:hover {
    background: dodgerblue;
    color: inherit;
}
